@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1 class="material-color-def">Login</h1>

<form method="post">
    <div class="form-group">
        <label class="material-color-def">Login</label>
        <input type="text" asp-for="Login.Login" class="form-control" />
        <span asp-validation-for="Login.Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="material-color-def">Password</label>
        <input type="password" asp-for="Login.Password" class="form-control" />
        <span asp-validation-for="Login.Password" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Register</button>
</form>